<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="0;url={{ destination_url }}" />
  <title>Redirecting...</title>
</head>
<body>
  <pre>Redirecting to <a href="{{ destination_url }}">{{ destination_url }}</a></pre>
</body>
</html>
