:root {
  --font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  --font-monospace: 'DejaVu Sans Mono', 'Fira Code', 'Courier New', Courier, monospace;
  --border-main: 2px solid #ccc;
  --left-width: 63%;
  --right-width: 37%;
  --heading-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  background: #fff;
  width: 100%;
  max-width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
}

hr {
  margin: 1.1em 0;
  background: none;
  border: none;
  border-top: var(--border-main);
  height: 2px;
}

img {
  max-width: 100%;
}

img.icon {
  max-width: 16px;
  margin-right: 0.5em;
}

a {
  color: #0d4ac5;
}

.monospace {
  font-family: var(--font-monospace);
}

h1,
h2,
strong {
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
  text-transform: var(--heading-transform);
  padding: 0.5em 0.5em 0.2em;
  line-height: 1.1;
  position: relative;
}

h1 span:nth-child(2) {
  font-weight: 400;
}

h1 a {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  right: 0;
  font-size: 14px;
}

h1 a img {
  max-width: 14px;
}

main {
  display: flex;
  border-top: var(--border-main);
  height: 100%;
  overflow: hidden;
}

main .left,
main .right {
  padding: 0.5em 1em;
}

main .left {
  width: var(--left-width);
  border-right: var(--border-main);
}

main .right {
  width: var(--right-width);
}

h2 {
  margin: 0.6em 0;
  font-size: 1.35em;
  line-height: 1.2;
  text-transform: var(--heading-transform);
  position: relative;
}

h2:after {
  position: absolute;
  display: block;
  content: "";
  width: 40px;
  height: 0;
  border-bottom: var(--border-main);
}

.education {
  display: flex;
}

.education>div:nth-child(1) {
  padding-right: 0.5em;
}

.education>div:nth-child(2) {
  padding-left: 0.5em;
}

div>ul>li {
  margin-left: 1em;
}

.projects>ul>li {
  margin-bottom: 0.6em;
}

div>ul>li li {
  margin-left: 1em;
}

.contact {
  font-size: 0.9em;
}

@media only print {
  .noprint {
    display: none;
  }

  body {
    width: 21cm;
  }
}

@media screen and (max-width: 42em) {
  :root {
    --left-width: 100%;
    --right-width: 100%;
  }
  body {
    width: 100%;
    height: 100%;
  }
  main {
    flex-direction: column;
    border-top: none;
  }
  main .left {
    border-right: none;
  }
  h1 {
    margin-top: 0.5em;
    font-size: 2em;
    box-shadow: 0 2px 2px 0px #f1efef;
  }
  .education {
    flex-direction: column;
  }
  .education>div:nth-child(n+1) {
    padding: 0.4em 0;
  }
  h1 a {
    font-size: 12px;
    top: -0.5em;
    right: 1em;
  }
  h1 a img {
    max-width: 12px;
  }
}
